<p class="username label"><label for="user_username"><%= 'Username:' %></label></p>
<p class="text input"><%= text_field 'user', 'username', :class => 'text' %></p>

<p class="password label"><label for="user_password"><%= 'Password:' %></label></p>
<p class="password input"><%= password_field 'user', 'password', :class => 'text' %></p>
