<div id="login_box_container">
  <div id="login_box">
    <div class="header"><%= 'Astra' %></div>
  <% form_tag :action => 'login', :id => @user do %>
    <%= render :partial => 'form' %>
    <p class="submit button"><%= submit_tag 'Log in' %></p>
  <% end %>
  </div>
</div>
