/**
 * Global styles
 */

body {
  color: #333;
}

input[type="submit"] {
  background-color: white;
  color: #2f4f4f;
}

#flash_notice {
  color: green;
}

/**
 * The default layout
 */

#header {
  border-color: silver;
}

#tool_bar a:link,
#tool_bar a:visited {
  color: green;
}

.side_block ul li a:link,
.side_block ul li a:visited,
.side_block ul li a:hover {
  color: green;
}

/**
 * The login subsystem
 */

#login_box_container {
  border-color: silver;
}

#login_box {
  background-color: green;
}

#login_box .header {
  color: white;
}

#login_box p.username,
#login_box p.password {
  color: white;
}

/**
 * The courses subsystem
 */

#courses_list a:link,
#courses_list a:visited,
#courses_list a:hover {
  color: green;
}
